extends layout

block content
	h1 Mastermind
	div.solution
		p * * * *
	div.previousGuesses
		div.row
			each guess in guesses
				div.col-md-1.glyphicon.glyphicon-certificate(class="#{guess.guess.color0}")
				div.col-md-1.glyphicon.glyphicon-certificate(class="#{guess.guess.color1}")
				div.col-md-1.glyphicon.glyphicon-certificate(class="#{guess.guess.color2}")
				div.col-md-1.glyphicon.glyphicon-certificate(class="#{guess.guess.color3}")
				div.col-md-1=guess.correct
				div.col-md-1=guess.almostCorrect
	div.currentGuess
		form(action='/', method='post')
			- for (var x = 0; x < 4; x++)
				select(name='color' + x)
					each color in  ['Red', 'Yellow', 'Green', 'Yellow']
						option #{color}
			input(type='submit', value='Gjett!')