extends layout

block content
	div.page-header
		h1 Mastermind
	div.solution
		div.row
			div.col-xs-1.glyphicon.glyphicon-certificate  
			div.col-xs-1.glyphicon.glyphicon-certificate  
			div.col-xs-1.glyphicon.glyphicon-certificate  
			div.col-xs-1.glyphicon.glyphicon-certificate  
	div.previousGuesses
		each guess in guesses
			div.row
				div.col-xs-1.glyphicon.glyphicon-certificate(class="#{guess.guess.color0}")  
				div.col-xs-1.glyphicon.glyphicon-certificate(class="#{guess.guess.color1}")  
				div.col-xs-1.glyphicon.glyphicon-certificate(class="#{guess.guess.color2}")  
				div.col-xs-1.glyphicon.glyphicon-certificate(class="#{guess.guess.color3}")   
				div.col-xs-2.correct
					- for (var x = 0; x < guess.correct; x++)
						span.glyphicon.glyphicon-certificate.Black  
					- for (var x = 0; x < guess.almostCorrect; x++)
						span.glyphicon.glyphicon-certificate.White  
	div.currentGuess
		- if (guesses.length > 0 && guesses[guesses.length-1]['correct'] == 4)
			div Gratulerer, du klarte det! :)
			a.btn.btn-primary(href="/startover") Spill på nytt!
		- else
			form.row.form-inline(action='/guess', method='post')
					- for (var x = 0; x < 4; x++)
						select.col-xs-1.form-control(name='color' + x)
							each color in  ['Red', 'Blue', 'Green', 'Yellow']
								option #{color}
					input.col-xs-1.btn.btn-info(type='submit', value='Gjett!')